.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

    li {
        margin-bottom: 6px;
    }

    &--main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        padding-bottom: 150px;

        @include vp-1279 {
            grid-template-columns: repeat(3, 1fr);
        }

        @include vp-1023 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include vp-639 {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &--rules {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;

        @include vp-1023 {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $color-default-white;
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
            padding: 50px 30px 30px 30px;
        }

        h3 {
            font-size: 22px;
            margin-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 9px;
            border-bottom: 6px solid $color-gold;
        }

        p {
            width: 100%;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 1.5;
        }
    }

    &--square-small {
        li {
            position: relative;
            margin-bottom: 15px;

            @include vp-1023 {
                padding-left: 20px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0.5em;
                left: -15px;
                display: block;
                width: 7px;
                height: 7px;
                background-color: $color-gold;

                @include vp-1023 {
                    left: 0;
                }
            }
        }
    }

    &--forbidden {
        li {
            padding-left: 65px;
            position: relative;
            margin-bottom: 15px;

            &::before {
                content: "";
                position: absolute;
                top: 0.5em;
                left: 48px;
                display: block;
                width: 7px;
                height: 7px;
                background-color: $color-torch-red;
            }
        }
    }

    &--similar-flats {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        @include vp-1023 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include vp-639 {
            grid-template-columns: repeat(1, 1fr);
        }

    }

    &--flat-features {
        width: 100%;
        column-count: 2;
        margin-bottom: 60px;

        @include vp-639 {
            column-count: 1;
        }

        li {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
        }
    }

    &--features {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;

        @include vp-1439 {
            padding: 0 22px;
        }

        @include vp-1023 {
            padding: 0 4px;
        }

        @include vp-767 {
            padding: 0;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(100% / 5);
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 40px;

            @include vp-1439 {
                width: calc(100% / 3);
            }

            @include vp-1023 {
                width: calc(100% / 2);
            }

            // @include vp-639 {
            //     width: 100%;
            // }
        }       
    }
}